body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    width: 800px;
    justify-content: space-evenly;
    aspect-ratio: 1/1;
    border: black .5px solid;
}

.header{
    text-align: center;
    font-size: 40px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.black{
    background-color: black;
}