.container{
    display: flex;
    flex-direction: column;
}

.header{
    text-align: center;
    font-size: 40px;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}